tensorflow==2.13.0 # specify version when using frequently updated packages
pandas
dvc
mlflow==2.2.2
notebook
numpy
matplotlib
seaborn
python-box==6.0.2
pyYAML
tqdm
ensure==1.0.2
joblib
types-PyYAML
scipy
Flask
Flask-Cors
gdown
-e . # to install "local package" -i.e. src/cnnClassifier identified by the instructor files __init__.py